.footer-color {
    height: 274px;
    background-color: #EEF2F3;
    border-top: 3px solid #D4D4D4;
    margin-top: 32px;
}

.search-container {
    display: flex;
    width: 360px;
    height: 186px;
    justify-content: flex-start;
    padding: 44px 8px;
    box-sizing: border-box;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.search {
    display: flex;
    max-width: 306px;
    width: 100%;
    box-sizing: border-box;
    height: 36px;
}

.search-place {
    padding: 0px;
    padding-left: 10px;
    width: 100%;
    height: 36px;
    border: none;
    background: #DCE4E7;
}

.search-button {
    display: flex;
    padding: 10px;
    background-color: #006CE5;
    border: none;
    align-items: center;
}

.icon-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    gap: 16px;
}

.tags-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.tags-list {
    padding: 8px 16px;
    background-color: white;
    border-radius: 800px;
    text-decoration: none;
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 220%;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: 32px auto 59px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

@media (min-width:768px){
    .footer-wrapper{
        max-width: 526px;
        width: 100%;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .tags-container{
        width: 526px;
    }
    .search-container{
        max-width: 768px;
        width: 100%;
    }
}