body {
    font-family: 'Urbanist', sans-serif;
}

.header-color{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    height: 47px;
}

.header {
    width: 100%;
    height: 47px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.burger-menu {
    width: 48px;
    height: 47px;
    background: #006CE5;
    padding: 18px 16px;
    border: none;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 8px;
}

.header-right-content {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 73px;
    justify-content: flex-end;
    border-left: 1px solid #D4D4D4;
}

.header-text {
    color: #ED0E05;
    font-size: 16px;
    font-weight: 600;
}

.nav-menu {
    display: none;
}

@media (min-width:768px) {
    .wrapper{
        width: 100%;
        max-width: 768px;
        margin: 0px auto;
        box-sizing: border-box;
    }
    .header {
        width: 100%;
    }

    .header-content {
        margin-right: 12px;
    }
}

@media (min-width:1368px) {

    .header-color{
        height: 60px;
    }
    .wrapper{
        width: 100%;
        max-width: 1368px;
        margin: 0px auto;
        box-sizing: border-box;
    }
    .header {
        width: 100%;
        height: 60px;
    }

    .header-content{
        padding: 14px 36px;
        margin: 0;
    }

    .burger-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        gap: 40px;
        font-size: 16px;
        font-weight: 600;
    }
}