.main-wrapper {
    width: 359px;
    box-sizing: border-box;
    margin: 0px auto;
}

.main-text {
    display: block;
    margin-top: 44px;
    gap: 12px;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 8px;
}

.small-main-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 125%;
    padding: 0;
}

h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 110%;
}

.first-img-container {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
}

.main-img {
    display: flex;
    width: 100%;
    height: 416px;
    background: url("/images/image\ 1.png") no-repeat center center;
    align-items: flex-end;
    margin-bottom: 16px;
    background-size: cover;
}

.poland {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    background-color: white;
    padding: 10px 20px;
    padding-left: 0px;
    width: 81px;
}

h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
}

.second-image-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D4D4D4;
    padding: 32px 0;
}

.second-image {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 24px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.third-image {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D4D4D4;
    padding: 24px 0;
}

.karma-image {
    display: flex;
    background: url("/images/image\ 3.png") no-repeat;
    align-items: flex-end;
    background-size: cover;
    width: 359px;
    height: 166px;
    justify-content: end;
    padding-top: 24px;
    box-sizing: border-box;
    padding-right: 10px;
    padding-bottom: 10px;
}

.fourth-image {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.second-chapter {
    margin: 32px 0;
}

.more-text {
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
}

.more-img {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.second-chapter-img {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.second-chapter-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.poland-second-chapter-text {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    background-color: white;
    padding: 6px 20px;
    padding-left: 0px;
    max-width: 160px;
}

.another-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.date {
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
}

.factory-img {
    display: flex;
    background: url("/images/image\ 10.png") no-repeat;
    align-items: flex-end;
    background-size: cover;
    width: 359px;
    height: 166px;
    justify-content: end;
    padding-top: 24px;
    box-sizing: border-box;
    padding-right: 10px;
    padding-bottom: 10px;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.page {
    border: 1px solid #D4D4D4;
    border-radius: 500px;
    display: flex;
    width: 37px;
    height: 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #006CE5;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
}

.first-page {
    border: 1px solid #D4D4D4;
    border-radius: 500px;
    display: flex;
    width: 37px;
    height: 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
}

.next-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #006CE5;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
    text-transform: uppercase;
    gap: 8px;
}

button{
    border: none;
    background: none;
}

@media (min-width:768px) {
    .main-wrapper {
        max-width: 744px;
        width: 100%;
    }

    .small-main-text {
        font-size: 22px;
    }

    h1 {
        font-size: 62px;
    }

    .main-img {
        background-size: cover;
        width: 100%;
    }

    .addaptive-image {
        width: 296px;
        height: 166px;
    }

    .near-text {
        width: 424px;
    }

    .second-image {
        height: 191px;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        gap: 24px;
    }

    .addaptive-image-second-chapter {
        width: 296px;
        height: 166px;
    }

    .third-image {
        height: 191px;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        gap: 24px;
        padding-top: 0;
        margin-top: 24px;
    }

    .karma-image {
        width: 296px;
        height: 166px;
    }

    .fourth-image {
        height: 191px;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        gap: 24px;
    }

    .more-text {
        font-size: 42px;
    }

    .second-chapter-img {
        display: flex;
        flex-direction: row;
        gap: 24px;
        width: 744px;
    }

    .second-chapter-text {
        justify-content: center;
        flex-wrap: wrap;
        width: 424px;
        box-sizing: border-box;
    }

    .factory-img {
        width: 296px;
        height: 166px;
    }
}

@media (min-width:1368px) {
    .main-wrapper {
        max-width: 1296px;
        width: 100%;
    }

    h2 {
        font-size: 28px;
    }

    .small-main-text {
        font-size: 22px;
    }

    h1 {
        font-size: 62px;
    }

    .first-img-container {
        max-width: 746px;
        height: 496px;
    }

    .first-second-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-top: 32px;
        border-bottom: 1px solid #D4D4D4;
        padding-bottom: 56px;
    }

    .near-text-main {
        width: 306px;
    }

    .second-image-container {
        padding: 0;
        border: none;
    }

    .addaptive-image {
        width: 196px;
        height: 110px;
    }

    .second-image {
        height: 143px;
        width: 100%;
        gap: 24px;
        padding-bottom: 32px;
    }

    .third-image {
        height: 142px;
        width: 100%;
        gap: 24px;
        padding-top: 0;
        margin-top: 32px;
    }

    .karma-image {
        width: 196px;
        height: 110px;
    }

    .fourth-image {
        height: 142px;
        width: 100%;
        gap: 24px;
        padding-top: 0;
        margin-top: 32px;
    }

    .second-chapter {
        display: flex;
        flex-direction: row;
        gap: 36px;
    }

    .more-img {
        margin: 0;
    }

    .second-chapter-img {
        width: 856px;
    }

    .second-chapter-text {
        width: 526px;
    }

    .addaptive-image-second-chapter {
        width: 296px;
        height: 166px;
    }
}